// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$banner-title-name: 'banner-title';
$banner-title-x: 280px;
$banner-title-y: 224px;
$banner-title-offset-x: -280px;
$banner-title-offset-y: -224px;
$banner-title-width: 209px;
$banner-title-height: 49px;
$banner-title-total-width: 772px;
$banner-title-total-height: 600px;
$banner-title-image: '~sprite.png';
$banner-title: (280px, 224px, -280px, -224px, 209px, 49px, 772px, 600px, '~sprite.png', 'banner-title', );
$banner-title-2x-name: 'banner-title@2x';
$banner-title-2x-x: 0px;
$banner-title-2x-y: 84px;
$banner-title-2x-offset-x: 0px;
$banner-title-2x-offset-y: -84px;
$banner-title-2x-width: 418px;
$banner-title-2x-height: 98px;
$banner-title-2x-total-width: 772px;
$banner-title-2x-total-height: 600px;
$banner-title-2x-image: '~sprite.png';
$banner-title-2x: (0px, 84px, 0px, -84px, 418px, 98px, 772px, 600px, '~sprite.png', 'banner-title@2x', );
$bg-cart-hover-name: 'bg-cart-hover';
$bg-cart-hover-x: 489px;
$bg-cart-hover-y: 224px;
$bg-cart-hover-offset-x: -489px;
$bg-cart-hover-offset-y: -224px;
$bg-cart-hover-width: 140px;
$bg-cart-hover-height: 46px;
$bg-cart-hover-total-width: 772px;
$bg-cart-hover-total-height: 600px;
$bg-cart-hover-image: '~sprite.png';
$bg-cart-hover: (489px, 224px, -489px, -224px, 140px, 46px, 772px, 600px, '~sprite.png', 'bg-cart-hover', );
$bg-cart-hover-2x-name: 'bg-cart-hover@2x';
$bg-cart-hover-2x-x: 418px;
$bg-cart-hover-2x-y: 84px;
$bg-cart-hover-2x-offset-x: -418px;
$bg-cart-hover-2x-offset-y: -84px;
$bg-cart-hover-2x-width: 280px;
$bg-cart-hover-2x-height: 92px;
$bg-cart-hover-2x-total-width: 772px;
$bg-cart-hover-2x-total-height: 600px;
$bg-cart-hover-2x-image: '~sprite.png';
$bg-cart-hover-2x: (418px, 84px, -418px, -84px, 280px, 92px, 772px, 600px, '~sprite.png', 'bg-cart-hover@2x', );
$bg-cart-name: 'bg-cart';
$bg-cart-x: 629px;
$bg-cart-y: 224px;
$bg-cart-offset-x: -629px;
$bg-cart-offset-y: -224px;
$bg-cart-width: 140px;
$bg-cart-height: 46px;
$bg-cart-total-width: 772px;
$bg-cart-total-height: 600px;
$bg-cart-image: '~sprite.png';
$bg-cart: (629px, 224px, -629px, -224px, 140px, 46px, 772px, 600px, '~sprite.png', 'bg-cart', );
$bg-cart-2x-name: 'bg-cart@2x';
$bg-cart-2x-x: 0px;
$bg-cart-2x-y: 182px;
$bg-cart-2x-offset-x: 0px;
$bg-cart-2x-offset-y: -182px;
$bg-cart-2x-width: 280px;
$bg-cart-2x-height: 92px;
$bg-cart-2x-total-width: 772px;
$bg-cart-2x-total-height: 600px;
$bg-cart-2x-image: '~sprite.png';
$bg-cart-2x: (0px, 182px, 0px, -182px, 280px, 92px, 772px, 600px, '~sprite.png', 'bg-cart@2x', );
$bubble-name: 'bubble';
$bubble-x: 280px;
$bubble-y: 182px;
$bubble-offset-x: -280px;
$bubble-offset-y: -182px;
$bubble-width: 386px;
$bubble-height: 42px;
$bubble-total-width: 772px;
$bubble-total-height: 600px;
$bubble-image: '~sprite.png';
$bubble: (280px, 182px, -280px, -182px, 386px, 42px, 772px, 600px, '~sprite.png', 'bubble', );
$bubble-2x-name: 'bubble@2x';
$bubble-2x-x: 0px;
$bubble-2x-y: 0px;
$bubble-2x-offset-x: 0px;
$bubble-2x-offset-y: 0px;
$bubble-2x-width: 772px;
$bubble-2x-height: 84px;
$bubble-2x-total-width: 772px;
$bubble-2x-total-height: 600px;
$bubble-2x-image: '~sprite.png';
$bubble-2x: (0px, 0px, 0px, 0px, 772px, 84px, 772px, 600px, '~sprite.png', 'bubble@2x', );
$flight-change-hover-name: 'flight-change-hover';
$flight-change-hover-x: 25px;
$flight-change-hover-y: 416px;
$flight-change-hover-offset-x: -25px;
$flight-change-hover-offset-y: -416px;
$flight-change-hover-width: 25px;
$flight-change-hover-height: 61px;
$flight-change-hover-total-width: 772px;
$flight-change-hover-total-height: 600px;
$flight-change-hover-image: '~sprite.png';
$flight-change-hover: (25px, 416px, -25px, -416px, 25px, 61px, 772px, 600px, '~sprite.png', 'flight-change-hover', );
$flight-change-hover-2x-name: 'flight-change-hover@2x';
$flight-change-hover-2x-x: 0px;
$flight-change-hover-2x-y: 294px;
$flight-change-hover-2x-offset-x: 0px;
$flight-change-hover-2x-offset-y: -294px;
$flight-change-hover-2x-width: 50px;
$flight-change-hover-2x-height: 122px;
$flight-change-hover-2x-total-width: 772px;
$flight-change-hover-2x-total-height: 600px;
$flight-change-hover-2x-image: '~sprite.png';
$flight-change-hover-2x: (0px, 294px, 0px, -294px, 50px, 122px, 772px, 600px, '~sprite.png', 'flight-change-hover@2x', );
$flight-change-name: 'flight-change';
$flight-change-x: 0px;
$flight-change-y: 416px;
$flight-change-offset-x: 0px;
$flight-change-offset-y: -416px;
$flight-change-width: 25px;
$flight-change-height: 61px;
$flight-change-total-width: 772px;
$flight-change-total-height: 600px;
$flight-change-image: '~sprite.png';
$flight-change: (0px, 416px, 0px, -416px, 25px, 61px, 772px, 600px, '~sprite.png', 'flight-change', );
$flight-change-2x-name: 'flight-change@2x';
$flight-change-2x-x: 50px;
$flight-change-2x-y: 294px;
$flight-change-2x-offset-x: -50px;
$flight-change-2x-offset-y: -294px;
$flight-change-2x-width: 50px;
$flight-change-2x-height: 122px;
$flight-change-2x-total-width: 772px;
$flight-change-2x-total-height: 600px;
$flight-change-2x-image: '~sprite.png';
$flight-change-2x: (50px, 294px, -50px, -294px, 50px, 122px, 772px, 600px, '~sprite.png', 'flight-change@2x', );
$flight-choose-name: 'flight-choose';
$flight-choose-x: 750px;
$flight-choose-y: 84px;
$flight-choose-offset-x: -750px;
$flight-choose-offset-y: -84px;
$flight-choose-width: 22px;
$flight-choose-height: 22px;
$flight-choose-total-width: 772px;
$flight-choose-total-height: 600px;
$flight-choose-image: '~sprite.png';
$flight-choose: (750px, 84px, -750px, -84px, 22px, 22px, 772px, 600px, '~sprite.png', 'flight-choose', );
$flight-choose-2x-name: 'flight-choose@2x';
$flight-choose-2x-x: 648px;
$flight-choose-2x-y: 294px;
$flight-choose-2x-offset-x: -648px;
$flight-choose-2x-offset-y: -294px;
$flight-choose-2x-width: 44px;
$flight-choose-2x-height: 44px;
$flight-choose-2x-total-width: 772px;
$flight-choose-2x-total-height: 600px;
$flight-choose-2x-image: '~sprite.png';
$flight-choose-2x: (648px, 294px, -648px, -294px, 44px, 44px, 772px, 600px, '~sprite.png', 'flight-choose@2x', );
$flight-not-name: 'flight-not';
$flight-not-x: 750px;
$flight-not-y: 106px;
$flight-not-offset-x: -750px;
$flight-not-offset-y: -106px;
$flight-not-width: 22px;
$flight-not-height: 22px;
$flight-not-total-width: 772px;
$flight-not-total-height: 600px;
$flight-not-image: '~sprite.png';
$flight-not: (750px, 106px, -750px, -106px, 22px, 22px, 772px, 600px, '~sprite.png', 'flight-not', );
$flight-not-2x-name: 'flight-not@2x';
$flight-not-2x-x: 604px;
$flight-not-2x-y: 294px;
$flight-not-2x-offset-x: -604px;
$flight-not-2x-offset-y: -294px;
$flight-not-2x-width: 44px;
$flight-not-2x-height: 44px;
$flight-not-2x-total-width: 772px;
$flight-not-2x-total-height: 600px;
$flight-not-2x-image: '~sprite.png';
$flight-not-2x: (604px, 294px, -604px, -294px, 44px, 44px, 772px, 600px, '~sprite.png', 'flight-not@2x', );
$icon-arrow-name: 'icon-arrow';
$icon-arrow-x: 418px;
$icon-arrow-y: 176px;
$icon-arrow-offset-x: -418px;
$icon-arrow-offset-y: -176px;
$icon-arrow-width: 11px;
$icon-arrow-height: 6px;
$icon-arrow-total-width: 772px;
$icon-arrow-total-height: 600px;
$icon-arrow-image: '~sprite.png';
$icon-arrow: (418px, 176px, -418px, -176px, 11px, 6px, 772px, 600px, '~sprite.png', 'icon-arrow', );
$icon-calendar-name: 'icon-calendar';
$icon-calendar-x: 716px;
$icon-calendar-y: 320px;
$icon-calendar-offset-x: -716px;
$icon-calendar-offset-y: -320px;
$icon-calendar-width: 16px;
$icon-calendar-height: 15px;
$icon-calendar-total-width: 772px;
$icon-calendar-total-height: 600px;
$icon-calendar-image: '~sprite.png';
$icon-calendar: (716px, 320px, -716px, -320px, 16px, 15px, 772px, 600px, '~sprite.png', 'icon-calendar', );
$icon-calendar-2x-name: 'icon-calendar@2x';
$icon-calendar-2x-x: 698px;
$icon-calendar-2x-y: 182px;
$icon-calendar-2x-offset-x: -698px;
$icon-calendar-2x-offset-y: -182px;
$icon-calendar-2x-width: 32px;
$icon-calendar-2x-height: 30px;
$icon-calendar-2x-total-width: 772px;
$icon-calendar-2x-total-height: 600px;
$icon-calendar-2x-image: '~sprite.png';
$icon-calendar-2x: (698px, 182px, -698px, -182px, 32px, 30px, 772px, 600px, '~sprite.png', 'icon-calendar@2x', );
$icon-cart-num-name: 'icon-cart-num';
$icon-cart-num-x: 718px;
$icon-cart-num-y: 294px;
$icon-cart-num-offset-x: -718px;
$icon-cart-num-offset-y: -294px;
$icon-cart-num-width: 26px;
$icon-cart-num-height: 26px;
$icon-cart-num-total-width: 772px;
$icon-cart-num-total-height: 600px;
$icon-cart-num-image: '~sprite.png';
$icon-cart-num: (718px, 294px, -718px, -294px, 26px, 26px, 772px, 600px, '~sprite.png', 'icon-cart-num', );
$icon-cart-num-2x-name: 'icon-cart-num@2x';
$icon-cart-num-2x-x: 360px;
$icon-cart-num-2x-y: 294px;
$icon-cart-num-2x-offset-x: -360px;
$icon-cart-num-2x-offset-y: -294px;
$icon-cart-num-2x-width: 52px;
$icon-cart-num-2x-height: 52px;
$icon-cart-num-2x-total-width: 772px;
$icon-cart-num-2x-total-height: 600px;
$icon-cart-num-2x-image: '~sprite.png';
$icon-cart-num-2x: (360px, 294px, -360px, -294px, 52px, 52px, 772px, 600px, '~sprite.png', 'icon-cart-num@2x', );
$icon-cart-name: 'icon-cart';
$icon-cart-x: 366px;
$icon-cart-y: 346px;
$icon-cart-offset-x: -366px;
$icon-cart-offset-y: -346px;
$icon-cart-width: 20px;
$icon-cart-height: 20px;
$icon-cart-total-width: 772px;
$icon-cart-total-height: 600px;
$icon-cart-image: '~sprite.png';
$icon-cart: (366px, 346px, -366px, -346px, 20px, 20px, 772px, 600px, '~sprite.png', 'icon-cart', );
$icon-cart-2x-name: 'icon-cart@2x';
$icon-cart-2x-x: 698px;
$icon-cart-2x-y: 136px;
$icon-cart-2x-offset-x: -698px;
$icon-cart-2x-offset-y: -136px;
$icon-cart-2x-width: 40px;
$icon-cart-2x-height: 40px;
$icon-cart-2x-total-width: 772px;
$icon-cart-2x-total-height: 600px;
$icon-cart-2x-image: '~sprite.png';
$icon-cart-2x: (698px, 136px, -698px, -136px, 40px, 40px, 772px, 600px, '~sprite.png', 'icon-cart@2x', );
$icon-loaction-name: 'icon-loaction';
$icon-loaction-x: 756px;
$icon-loaction-y: 182px;
$icon-loaction-offset-x: -756px;
$icon-loaction-offset-y: -182px;
$icon-loaction-width: 16px;
$icon-loaction-height: 20px;
$icon-loaction-total-width: 772px;
$icon-loaction-total-height: 600px;
$icon-loaction-image: '~sprite.png';
$icon-loaction: (756px, 182px, -756px, -182px, 16px, 20px, 772px, 600px, '~sprite.png', 'icon-loaction', );
$icon-loaction-2x-name: 'icon-loaction@2x';
$icon-loaction-2x-x: 738px;
$icon-loaction-2x-y: 136px;
$icon-loaction-2x-offset-x: -738px;
$icon-loaction-2x-offset-y: -136px;
$icon-loaction-2x-width: 32px;
$icon-loaction-2x-height: 40px;
$icon-loaction-2x-total-width: 772px;
$icon-loaction-2x-total-height: 600px;
$icon-loaction-2x-image: '~sprite.png';
$icon-loaction-2x: (738px, 136px, -738px, -136px, 32px, 40px, 772px, 600px, '~sprite.png', 'icon-loaction@2x', );
$icon-num-add-not-name: 'icon-num-add-not';
$icon-num-add-not-x: 218px;
$icon-num-add-not-y: 346px;
$icon-num-add-not-offset-x: -218px;
$icon-num-add-not-offset-y: -346px;
$icon-num-add-not-width: 26px;
$icon-num-add-not-height: 26px;
$icon-num-add-not-total-width: 772px;
$icon-num-add-not-total-height: 600px;
$icon-num-add-not-image: '~sprite.png';
$icon-num-add-not: (218px, 346px, -218px, -346px, 26px, 26px, 772px, 600px, '~sprite.png', 'icon-num-add-not', );
$icon-num-add-not-2x-name: 'icon-num-add-not@2x';
$icon-num-add-not-2x-x: 308px;
$icon-num-add-not-2x-y: 294px;
$icon-num-add-not-2x-offset-x: -308px;
$icon-num-add-not-2x-offset-y: -294px;
$icon-num-add-not-2x-width: 52px;
$icon-num-add-not-2x-height: 52px;
$icon-num-add-not-2x-total-width: 772px;
$icon-num-add-not-2x-total-height: 600px;
$icon-num-add-not-2x-image: '~sprite.png';
$icon-num-add-not-2x: (308px, 294px, -308px, -294px, 52px, 52px, 772px, 600px, '~sprite.png', 'icon-num-add-not@2x', );
$icon-num-add-name: 'icon-num-add';
$icon-num-add-x: 192px;
$icon-num-add-y: 346px;
$icon-num-add-offset-x: -192px;
$icon-num-add-offset-y: -346px;
$icon-num-add-width: 26px;
$icon-num-add-height: 26px;
$icon-num-add-total-width: 772px;
$icon-num-add-total-height: 600px;
$icon-num-add-image: '~sprite.png';
$icon-num-add: (192px, 346px, -192px, -346px, 26px, 26px, 772px, 600px, '~sprite.png', 'icon-num-add', );
$icon-num-add-2x-name: 'icon-num-add@2x';
$icon-num-add-2x-x: 698px;
$icon-num-add-2x-y: 84px;
$icon-num-add-2x-offset-x: -698px;
$icon-num-add-2x-offset-y: -84px;
$icon-num-add-2x-width: 52px;
$icon-num-add-2x-height: 52px;
$icon-num-add-2x-total-width: 772px;
$icon-num-add-2x-total-height: 600px;
$icon-num-add-2x-image: '~sprite.png';
$icon-num-add-2x: (698px, 84px, -698px, -84px, 52px, 52px, 772px, 600px, '~sprite.png', 'icon-num-add@2x', );
$icon-num-minus-not-name: 'icon-num-minus-not';
$icon-num-minus-not-x: 244px;
$icon-num-minus-not-y: 346px;
$icon-num-minus-not-offset-x: -244px;
$icon-num-minus-not-offset-y: -346px;
$icon-num-minus-not-width: 26px;
$icon-num-minus-not-height: 26px;
$icon-num-minus-not-total-width: 772px;
$icon-num-minus-not-total-height: 600px;
$icon-num-minus-not-image: '~sprite.png';
$icon-num-minus-not: (244px, 346px, -244px, -346px, 26px, 26px, 772px, 600px, '~sprite.png', 'icon-num-minus-not', );
$icon-num-minus-not-2x-name: 'icon-num-minus-not@2x';
$icon-num-minus-not-2x-x: 204px;
$icon-num-minus-not-2x-y: 294px;
$icon-num-minus-not-2x-offset-x: -204px;
$icon-num-minus-not-2x-offset-y: -294px;
$icon-num-minus-not-2x-width: 52px;
$icon-num-minus-not-2x-height: 52px;
$icon-num-minus-not-2x-total-width: 772px;
$icon-num-minus-not-2x-total-height: 600px;
$icon-num-minus-not-2x-image: '~sprite.png';
$icon-num-minus-not-2x: (204px, 294px, -204px, -294px, 52px, 52px, 772px, 600px, '~sprite.png', 'icon-num-minus-not@2x', );
$icon-num-minus-name: 'icon-num-minus';
$icon-num-minus-x: 744px;
$icon-num-minus-y: 294px;
$icon-num-minus-offset-x: -744px;
$icon-num-minus-offset-y: -294px;
$icon-num-minus-width: 26px;
$icon-num-minus-height: 26px;
$icon-num-minus-total-width: 772px;
$icon-num-minus-total-height: 600px;
$icon-num-minus-image: '~sprite.png';
$icon-num-minus: (744px, 294px, -744px, -294px, 26px, 26px, 772px, 600px, '~sprite.png', 'icon-num-minus', );
$icon-num-minus-2x-name: 'icon-num-minus@2x';
$icon-num-minus-2x-x: 152px;
$icon-num-minus-2x-y: 294px;
$icon-num-minus-2x-offset-x: -152px;
$icon-num-minus-2x-offset-y: -294px;
$icon-num-minus-2x-width: 52px;
$icon-num-minus-2x-height: 52px;
$icon-num-minus-2x-total-width: 772px;
$icon-num-minus-2x-total-height: 600px;
$icon-num-minus-2x-image: '~sprite.png';
$icon-num-minus-2x: (152px, 294px, -152px, -294px, 52px, 52px, 772px, 600px, '~sprite.png', 'icon-num-minus@2x', );
$icon-select-name: 'icon-select';
$icon-select-x: 750px;
$icon-select-y: 128px;
$icon-select-offset-x: -750px;
$icon-select-offset-y: -128px;
$icon-select-width: 12px;
$icon-select-height: 8px;
$icon-select-total-width: 772px;
$icon-select-total-height: 600px;
$icon-select-image: '~sprite.png';
$icon-select: (750px, 128px, -750px, -128px, 12px, 8px, 772px, 600px, '~sprite.png', 'icon-select', );
$icon-select-2x-name: 'icon-select@2x';
$icon-select-2x-x: 692px;
$icon-select-2x-y: 320px;
$icon-select-2x-offset-x: -692px;
$icon-select-2x-offset-y: -320px;
$icon-select-2x-width: 24px;
$icon-select-2x-height: 16px;
$icon-select-2x-total-width: 772px;
$icon-select-2x-total-height: 600px;
$icon-select-2x-image: '~sprite.png';
$icon-select-2x: (692px, 320px, -692px, -320px, 24px, 16px, 772px, 600px, '~sprite.png', 'icon-select@2x', );
$icon-tab-combo-cur-name: 'icon-tab-combo-cur';
$icon-tab-combo-cur-x: 318px;
$icon-tab-combo-cur-y: 346px;
$icon-tab-combo-cur-offset-x: -318px;
$icon-tab-combo-cur-offset-y: -346px;
$icon-tab-combo-cur-width: 24px;
$icon-tab-combo-cur-height: 24px;
$icon-tab-combo-cur-total-width: 772px;
$icon-tab-combo-cur-total-height: 600px;
$icon-tab-combo-cur-image: '~sprite.png';
$icon-tab-combo-cur: (318px, 346px, -318px, -346px, 24px, 24px, 772px, 600px, '~sprite.png', 'icon-tab-combo-cur', );
$icon-tab-combo-cur-2x-name: 'icon-tab-combo-cur@2x';
$icon-tab-combo-cur-2x-x: 412px;
$icon-tab-combo-cur-2x-y: 294px;
$icon-tab-combo-cur-2x-offset-x: -412px;
$icon-tab-combo-cur-2x-offset-y: -294px;
$icon-tab-combo-cur-2x-width: 48px;
$icon-tab-combo-cur-2x-height: 48px;
$icon-tab-combo-cur-2x-total-width: 772px;
$icon-tab-combo-cur-2x-total-height: 600px;
$icon-tab-combo-cur-2x-image: '~sprite.png';
$icon-tab-combo-cur-2x: (412px, 294px, -412px, -294px, 48px, 48px, 772px, 600px, '~sprite.png', 'icon-tab-combo-cur@2x', );
$icon-tab-combo-name: 'icon-tab-combo';
$icon-tab-combo-x: 342px;
$icon-tab-combo-y: 346px;
$icon-tab-combo-offset-x: -342px;
$icon-tab-combo-offset-y: -346px;
$icon-tab-combo-width: 24px;
$icon-tab-combo-height: 24px;
$icon-tab-combo-total-width: 772px;
$icon-tab-combo-total-height: 600px;
$icon-tab-combo-image: '~sprite.png';
$icon-tab-combo: (342px, 346px, -342px, -346px, 24px, 24px, 772px, 600px, '~sprite.png', 'icon-tab-combo', );
$icon-tab-combo-2x-name: 'icon-tab-combo@2x';
$icon-tab-combo-2x-x: 460px;
$icon-tab-combo-2x-y: 294px;
$icon-tab-combo-2x-offset-x: -460px;
$icon-tab-combo-2x-offset-y: -294px;
$icon-tab-combo-2x-width: 48px;
$icon-tab-combo-2x-height: 48px;
$icon-tab-combo-2x-total-width: 772px;
$icon-tab-combo-2x-total-height: 600px;
$icon-tab-combo-2x-image: '~sprite.png';
$icon-tab-combo-2x: (460px, 294px, -460px, -294px, 48px, 48px, 772px, 600px, '~sprite.png', 'icon-tab-combo@2x', );
$icon-tab-flight-cur-name: 'icon-tab-flight-cur';
$icon-tab-flight-cur-x: 294px;
$icon-tab-flight-cur-y: 346px;
$icon-tab-flight-cur-offset-x: -294px;
$icon-tab-flight-cur-offset-y: -346px;
$icon-tab-flight-cur-width: 24px;
$icon-tab-flight-cur-height: 24px;
$icon-tab-flight-cur-total-width: 772px;
$icon-tab-flight-cur-total-height: 600px;
$icon-tab-flight-cur-image: '~sprite.png';
$icon-tab-flight-cur: (294px, 346px, -294px, -346px, 24px, 24px, 772px, 600px, '~sprite.png', 'icon-tab-flight-cur', );
$icon-tab-flight-cur-2x-name: 'icon-tab-flight-cur@2x';
$icon-tab-flight-cur-2x-x: 508px;
$icon-tab-flight-cur-2x-y: 294px;
$icon-tab-flight-cur-2x-offset-x: -508px;
$icon-tab-flight-cur-2x-offset-y: -294px;
$icon-tab-flight-cur-2x-width: 48px;
$icon-tab-flight-cur-2x-height: 48px;
$icon-tab-flight-cur-2x-total-width: 772px;
$icon-tab-flight-cur-2x-total-height: 600px;
$icon-tab-flight-cur-2x-image: '~sprite.png';
$icon-tab-flight-cur-2x: (508px, 294px, -508px, -294px, 48px, 48px, 772px, 600px, '~sprite.png', 'icon-tab-flight-cur@2x', );
$icon-tab-flight-name: 'icon-tab-flight';
$icon-tab-flight-x: 270px;
$icon-tab-flight-y: 346px;
$icon-tab-flight-offset-x: -270px;
$icon-tab-flight-offset-y: -346px;
$icon-tab-flight-width: 24px;
$icon-tab-flight-height: 24px;
$icon-tab-flight-total-width: 772px;
$icon-tab-flight-total-height: 600px;
$icon-tab-flight-image: '~sprite.png';
$icon-tab-flight: (270px, 346px, -270px, -346px, 24px, 24px, 772px, 600px, '~sprite.png', 'icon-tab-flight', );
$icon-tab-flight-2x-name: 'icon-tab-flight@2x';
$icon-tab-flight-2x-x: 556px;
$icon-tab-flight-2x-y: 294px;
$icon-tab-flight-2x-offset-x: -556px;
$icon-tab-flight-2x-offset-y: -294px;
$icon-tab-flight-2x-width: 48px;
$icon-tab-flight-2x-height: 48px;
$icon-tab-flight-2x-total-width: 772px;
$icon-tab-flight-2x-total-height: 600px;
$icon-tab-flight-2x-image: '~sprite.png';
$icon-tab-flight-2x: (556px, 294px, -556px, -294px, 48px, 48px, 772px, 600px, '~sprite.png', 'icon-tab-flight@2x', );
$icon-tab-hotel-cur-name: 'icon-tab-hotel-cur';
$icon-tab-hotel-cur-x: 50px;
$icon-tab-hotel-cur-y: 416px;
$icon-tab-hotel-cur-offset-x: -50px;
$icon-tab-hotel-cur-offset-y: -416px;
$icon-tab-hotel-cur-width: 23px;
$icon-tab-hotel-cur-height: 25px;
$icon-tab-hotel-cur-total-width: 772px;
$icon-tab-hotel-cur-total-height: 600px;
$icon-tab-hotel-cur-image: '~sprite.png';
$icon-tab-hotel-cur: (50px, 416px, -50px, -416px, 23px, 25px, 772px, 600px, '~sprite.png', 'icon-tab-hotel-cur', );
$icon-tab-hotel-cur-2x-name: 'icon-tab-hotel-cur@2x';
$icon-tab-hotel-cur-2x-x: 146px;
$icon-tab-hotel-cur-2x-y: 346px;
$icon-tab-hotel-cur-2x-offset-x: -146px;
$icon-tab-hotel-cur-2x-offset-y: -346px;
$icon-tab-hotel-cur-2x-width: 46px;
$icon-tab-hotel-cur-2x-height: 50px;
$icon-tab-hotel-cur-2x-total-width: 772px;
$icon-tab-hotel-cur-2x-total-height: 600px;
$icon-tab-hotel-cur-2x-image: '~sprite.png';
$icon-tab-hotel-cur-2x: (146px, 346px, -146px, -346px, 46px, 50px, 772px, 600px, '~sprite.png', 'icon-tab-hotel-cur@2x', );
$icon-tab-hotel-name: 'icon-tab-hotel';
$icon-tab-hotel-x: 73px;
$icon-tab-hotel-y: 416px;
$icon-tab-hotel-offset-x: -73px;
$icon-tab-hotel-offset-y: -416px;
$icon-tab-hotel-width: 23px;
$icon-tab-hotel-height: 25px;
$icon-tab-hotel-total-width: 772px;
$icon-tab-hotel-total-height: 600px;
$icon-tab-hotel-image: '~sprite.png';
$icon-tab-hotel: (73px, 416px, -73px, -416px, 23px, 25px, 772px, 600px, '~sprite.png', 'icon-tab-hotel', );
$icon-tab-hotel-2x-name: 'icon-tab-hotel@2x';
$icon-tab-hotel-2x-x: 100px;
$icon-tab-hotel-2x-y: 346px;
$icon-tab-hotel-2x-offset-x: -100px;
$icon-tab-hotel-2x-offset-y: -346px;
$icon-tab-hotel-2x-width: 46px;
$icon-tab-hotel-2x-height: 50px;
$icon-tab-hotel-2x-total-width: 772px;
$icon-tab-hotel-2x-total-height: 600px;
$icon-tab-hotel-2x-image: '~sprite.png';
$icon-tab-hotel-2x: (100px, 346px, -100px, -346px, 46px, 50px, 772px, 600px, '~sprite.png', 'icon-tab-hotel@2x', );
$icon-tab-ticket-cur-name: 'icon-tab-ticket-cur';
$icon-tab-ticket-cur-x: 692px;
$icon-tab-ticket-cur-y: 294px;
$icon-tab-ticket-cur-offset-x: -692px;
$icon-tab-ticket-cur-offset-y: -294px;
$icon-tab-ticket-cur-width: 26px;
$icon-tab-ticket-cur-height: 26px;
$icon-tab-ticket-cur-total-width: 772px;
$icon-tab-ticket-cur-total-height: 600px;
$icon-tab-ticket-cur-image: '~sprite.png';
$icon-tab-ticket-cur: (692px, 294px, -692px, -294px, 26px, 26px, 772px, 600px, '~sprite.png', 'icon-tab-ticket-cur', );
$icon-tab-ticket-cur-2x-name: 'icon-tab-ticket-cur@2x';
$icon-tab-ticket-cur-2x-x: 100px;
$icon-tab-ticket-cur-2x-y: 294px;
$icon-tab-ticket-cur-2x-offset-x: -100px;
$icon-tab-ticket-cur-2x-offset-y: -294px;
$icon-tab-ticket-cur-2x-width: 52px;
$icon-tab-ticket-cur-2x-height: 52px;
$icon-tab-ticket-cur-2x-total-width: 772px;
$icon-tab-ticket-cur-2x-total-height: 600px;
$icon-tab-ticket-cur-2x-image: '~sprite.png';
$icon-tab-ticket-cur-2x: (100px, 294px, -100px, -294px, 52px, 52px, 772px, 600px, '~sprite.png', 'icon-tab-ticket-cur@2x', );
$icon-tab-ticket-name: 'icon-tab-ticket';
$icon-tab-ticket-x: 730px;
$icon-tab-ticket-y: 182px;
$icon-tab-ticket-offset-x: -730px;
$icon-tab-ticket-offset-y: -182px;
$icon-tab-ticket-width: 26px;
$icon-tab-ticket-height: 26px;
$icon-tab-ticket-total-width: 772px;
$icon-tab-ticket-total-height: 600px;
$icon-tab-ticket-image: '~sprite.png';
$icon-tab-ticket: (730px, 182px, -730px, -182px, 26px, 26px, 772px, 600px, '~sprite.png', 'icon-tab-ticket', );
$icon-tab-ticket-2x-name: 'icon-tab-ticket@2x';
$icon-tab-ticket-2x-x: 256px;
$icon-tab-ticket-2x-y: 294px;
$icon-tab-ticket-2x-offset-x: -256px;
$icon-tab-ticket-2x-offset-y: -294px;
$icon-tab-ticket-2x-width: 52px;
$icon-tab-ticket-2x-height: 52px;
$icon-tab-ticket-2x-total-width: 772px;
$icon-tab-ticket-2x-total-height: 600px;
$icon-tab-ticket-2x-image: '~sprite.png';
$icon-tab-ticket-2x: (256px, 294px, -256px, -294px, 52px, 52px, 772px, 600px, '~sprite.png', 'icon-tab-ticket@2x', );
$pro-bg-name: 'pro-bg';
$pro-bg-x: 0px;
$pro-bg-y: 477px;
$pro-bg-offset-x: 0px;
$pro-bg-offset-y: -477px;
$pro-bg-width: 8px;
$pro-bg-height: 123px;
$pro-bg-total-width: 772px;
$pro-bg-total-height: 600px;
$pro-bg-image: '~sprite.png';
$pro-bg: (0px, 477px, 0px, -477px, 8px, 123px, 772px, 600px, '~sprite.png', 'pro-bg', );
$pro-icon-name: 'pro-icon';
$pro-icon-x: 398px;
$pro-icon-y: 274px;
$pro-icon-offset-x: -398px;
$pro-icon-offset-y: -274px;
$pro-icon-width: 199px;
$pro-icon-height: 10px;
$pro-icon-total-width: 772px;
$pro-icon-total-height: 600px;
$pro-icon-image: '~sprite.png';
$pro-icon: (398px, 274px, -398px, -274px, 199px, 10px, 772px, 600px, '~sprite.png', 'pro-icon', );
$pro-icon-2x-name: 'pro-icon@2x';
$pro-icon-2x-x: 0px;
$pro-icon-2x-y: 274px;
$pro-icon-2x-offset-x: 0px;
$pro-icon-2x-offset-y: -274px;
$pro-icon-2x-width: 398px;
$pro-icon-2x-height: 20px;
$pro-icon-2x-total-width: 772px;
$pro-icon-2x-total-height: 600px;
$pro-icon-2x-image: '~sprite.png';
$pro-icon-2x: (0px, 274px, 0px, -274px, 398px, 20px, 772px, 600px, '~sprite.png', 'pro-icon@2x', );
$search-btn-name: 'search-btn';
$search-btn-x: 386px;
$search-btn-y: 346px;
$search-btn-offset-x: -386px;
$search-btn-offset-y: -346px;
$search-btn-width: 16px;
$search-btn-height: 19px;
$search-btn-total-width: 772px;
$search-btn-total-height: 600px;
$search-btn-image: '~sprite.png';
$search-btn: (386px, 346px, -386px, -346px, 16px, 19px, 772px, 600px, '~sprite.png', 'search-btn', );
$search-btn-2x-name: 'search-btn@2x';
$search-btn-2x-x: 666px;
$search-btn-2x-y: 182px;
$search-btn-2x-offset-x: -666px;
$search-btn-2x-offset-y: -182px;
$search-btn-2x-width: 32px;
$search-btn-2x-height: 38px;
$search-btn-2x-total-width: 772px;
$search-btn-2x-total-height: 600px;
$search-btn-2x-image: '~sprite.png';
$search-btn-2x: (666px, 182px, -666px, -182px, 32px, 38px, 772px, 600px, '~sprite.png', 'search-btn@2x', );
$spritesheet-width: 772px;
$spritesheet-height: 600px;
$spritesheet-image: '~sprite.png';
$spritesheet-sprites: ($banner-title, $banner-title-2x, $bg-cart-hover, $bg-cart-hover-2x, $bg-cart, $bg-cart-2x, $bubble, $bubble-2x, $flight-change-hover, $flight-change-hover-2x, $flight-change, $flight-change-2x, $flight-choose, $flight-choose-2x, $flight-not, $flight-not-2x, $icon-arrow, $icon-calendar, $icon-calendar-2x, $icon-cart-num, $icon-cart-num-2x, $icon-cart, $icon-cart-2x, $icon-loaction, $icon-loaction-2x, $icon-num-add-not, $icon-num-add-not-2x, $icon-num-add, $icon-num-add-2x, $icon-num-minus-not, $icon-num-minus-not-2x, $icon-num-minus, $icon-num-minus-2x, $icon-select, $icon-select-2x, $icon-tab-combo-cur, $icon-tab-combo-cur-2x, $icon-tab-combo, $icon-tab-combo-2x, $icon-tab-flight-cur, $icon-tab-flight-cur-2x, $icon-tab-flight, $icon-tab-flight-2x, $icon-tab-hotel-cur, $icon-tab-hotel-cur-2x, $icon-tab-hotel, $icon-tab-hotel-2x, $icon-tab-ticket-cur, $icon-tab-ticket-cur-2x, $icon-tab-ticket, $icon-tab-ticket-2x, $pro-bg, $pro-icon, $pro-icon-2x, $search-btn, $search-btn-2x, );
$spritesheet: (772px, 600px, '~sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
