/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-banner-title {
  background-image: url(~sprite.png);
  background-position: -280px -224px;
  width: 209px;
  height: 49px;
}
.icon-banner-title@2x {
  background-image: url(~sprite.png);
  background-position: 0px -84px;
  width: 418px;
  height: 98px;
}
.icon-bg-cart-hover {
  background-image: url(~sprite.png);
  background-position: -489px -224px;
  width: 140px;
  height: 46px;
}
.icon-bg-cart-hover@2x {
  background-image: url(~sprite.png);
  background-position: -418px -84px;
  width: 280px;
  height: 92px;
}
.icon-bg-cart {
  background-image: url(~sprite.png);
  background-position: -629px -224px;
  width: 140px;
  height: 46px;
}
.icon-bg-cart@2x {
  background-image: url(~sprite.png);
  background-position: 0px -182px;
  width: 280px;
  height: 92px;
}
.icon-bubble {
  background-image: url(~sprite.png);
  background-position: -280px -182px;
  width: 386px;
  height: 42px;
}
.icon-bubble@2x {
  background-image: url(~sprite.png);
  background-position: 0px 0px;
  width: 772px;
  height: 84px;
}
.icon-flight-change-hover {
  background-image: url(~sprite.png);
  background-position: -25px -416px;
  width: 25px;
  height: 61px;
}
.icon-flight-change-hover@2x {
  background-image: url(~sprite.png);
  background-position: 0px -294px;
  width: 50px;
  height: 122px;
}
.icon-flight-change {
  background-image: url(~sprite.png);
  background-position: 0px -416px;
  width: 25px;
  height: 61px;
}
.icon-flight-change@2x {
  background-image: url(~sprite.png);
  background-position: -50px -294px;
  width: 50px;
  height: 122px;
}
.icon-flight-choose {
  background-image: url(~sprite.png);
  background-position: -750px -84px;
  width: 22px;
  height: 22px;
}
.icon-flight-choose@2x {
  background-image: url(~sprite.png);
  background-position: -648px -294px;
  width: 44px;
  height: 44px;
}
.icon-flight-not {
  background-image: url(~sprite.png);
  background-position: -750px -106px;
  width: 22px;
  height: 22px;
}
.icon-flight-not@2x {
  background-image: url(~sprite.png);
  background-position: -604px -294px;
  width: 44px;
  height: 44px;
}
.icon-icon-arrow {
  background-image: url(~sprite.png);
  background-position: -418px -176px;
  width: 11px;
  height: 6px;
}
.icon-icon-calendar {
  background-image: url(~sprite.png);
  background-position: -716px -320px;
  width: 16px;
  height: 15px;
}
.icon-icon-calendar@2x {
  background-image: url(~sprite.png);
  background-position: -698px -182px;
  width: 32px;
  height: 30px;
}
.icon-icon-cart-num {
  background-image: url(~sprite.png);
  background-position: -718px -294px;
  width: 26px;
  height: 26px;
}
.icon-icon-cart-num@2x {
  background-image: url(~sprite.png);
  background-position: -360px -294px;
  width: 52px;
  height: 52px;
}
.icon-icon-cart {
  background-image: url(~sprite.png);
  background-position: -366px -346px;
  width: 20px;
  height: 20px;
}
.icon-icon-cart@2x {
  background-image: url(~sprite.png);
  background-position: -698px -136px;
  width: 40px;
  height: 40px;
}
.icon-icon-loaction {
  background-image: url(~sprite.png);
  background-position: -756px -182px;
  width: 16px;
  height: 20px;
}
.icon-icon-loaction@2x {
  background-image: url(~sprite.png);
  background-position: -738px -136px;
  width: 32px;
  height: 40px;
}
.icon-icon-num-add-not {
  background-image: url(~sprite.png);
  background-position: -218px -346px;
  width: 26px;
  height: 26px;
}
.icon-icon-num-add-not@2x {
  background-image: url(~sprite.png);
  background-position: -308px -294px;
  width: 52px;
  height: 52px;
}
.icon-icon-num-add {
  background-image: url(~sprite.png);
  background-position: -192px -346px;
  width: 26px;
  height: 26px;
}
.icon-icon-num-add@2x {
  background-image: url(~sprite.png);
  background-position: -698px -84px;
  width: 52px;
  height: 52px;
}
.icon-icon-num-minus-not {
  background-image: url(~sprite.png);
  background-position: -244px -346px;
  width: 26px;
  height: 26px;
}
.icon-icon-num-minus-not@2x {
  background-image: url(~sprite.png);
  background-position: -204px -294px;
  width: 52px;
  height: 52px;
}
.icon-icon-num-minus {
  background-image: url(~sprite.png);
  background-position: -744px -294px;
  width: 26px;
  height: 26px;
}
.icon-icon-num-minus@2x {
  background-image: url(~sprite.png);
  background-position: -152px -294px;
  width: 52px;
  height: 52px;
}
.icon-icon-select {
  background-image: url(~sprite.png);
  background-position: -750px -128px;
  width: 12px;
  height: 8px;
}
.icon-icon-select@2x {
  background-image: url(~sprite.png);
  background-position: -692px -320px;
  width: 24px;
  height: 16px;
}
.icon-icon-tab-combo-cur {
  background-image: url(~sprite.png);
  background-position: -318px -346px;
  width: 24px;
  height: 24px;
}
.icon-icon-tab-combo-cur@2x {
  background-image: url(~sprite.png);
  background-position: -412px -294px;
  width: 48px;
  height: 48px;
}
.icon-icon-tab-combo {
  background-image: url(~sprite.png);
  background-position: -342px -346px;
  width: 24px;
  height: 24px;
}
.icon-icon-tab-combo@2x {
  background-image: url(~sprite.png);
  background-position: -460px -294px;
  width: 48px;
  height: 48px;
}
.icon-icon-tab-flight-cur {
  background-image: url(~sprite.png);
  background-position: -294px -346px;
  width: 24px;
  height: 24px;
}
.icon-icon-tab-flight-cur@2x {
  background-image: url(~sprite.png);
  background-position: -508px -294px;
  width: 48px;
  height: 48px;
}
.icon-icon-tab-flight {
  background-image: url(~sprite.png);
  background-position: -270px -346px;
  width: 24px;
  height: 24px;
}
.icon-icon-tab-flight@2x {
  background-image: url(~sprite.png);
  background-position: -556px -294px;
  width: 48px;
  height: 48px;
}
.icon-icon-tab-hotel-cur {
  background-image: url(~sprite.png);
  background-position: -50px -416px;
  width: 23px;
  height: 25px;
}
.icon-icon-tab-hotel-cur@2x {
  background-image: url(~sprite.png);
  background-position: -146px -346px;
  width: 46px;
  height: 50px;
}
.icon-icon-tab-hotel {
  background-image: url(~sprite.png);
  background-position: -73px -416px;
  width: 23px;
  height: 25px;
}
.icon-icon-tab-hotel@2x {
  background-image: url(~sprite.png);
  background-position: -100px -346px;
  width: 46px;
  height: 50px;
}
.icon-icon-tab-ticket-cur {
  background-image: url(~sprite.png);
  background-position: -692px -294px;
  width: 26px;
  height: 26px;
}
.icon-icon-tab-ticket-cur@2x {
  background-image: url(~sprite.png);
  background-position: -100px -294px;
  width: 52px;
  height: 52px;
}
.icon-icon-tab-ticket {
  background-image: url(~sprite.png);
  background-position: -730px -182px;
  width: 26px;
  height: 26px;
}
.icon-icon-tab-ticket@2x {
  background-image: url(~sprite.png);
  background-position: -256px -294px;
  width: 52px;
  height: 52px;
}
.icon-pro-bg {
  background-image: url(~sprite.png);
  background-position: 0px -477px;
  width: 8px;
  height: 123px;
}
.icon-pro-icon {
  background-image: url(~sprite.png);
  background-position: -398px -274px;
  width: 199px;
  height: 10px;
}
.icon-pro-icon@2x {
  background-image: url(~sprite.png);
  background-position: 0px -274px;
  width: 398px;
  height: 20px;
}
.icon-search-btn {
  background-image: url(~sprite.png);
  background-position: -386px -346px;
  width: 16px;
  height: 19px;
}
.icon-search-btn@2x {
  background-image: url(~sprite.png);
  background-position: -666px -182px;
  width: 32px;
  height: 38px;
}
